/* =========================== */
/* ======= BUTTON STYLE ======= */
/* =========================== */
.button {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
}
.button-petit {
  font-size: 0.8rem;
  padding: 0.75rem 0.5rem;
}
.button-normal {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}
.button-grand {
  font-size: 1.2rem;
  padding: 0.75rem 5rem;
}

/* =========================== */
/* ======= TOPBAR STYLE ======= */
/* =========================== */

.hamburger-menu {
  width: 36px;
  height: 48px;
  position: relative;
  z-index: 9999;
}
.hamburger-menu > li:not(:nth-child(2)) {
  transform-origin: left center;
}

.hamburger-menu li:not(:nth-child(2)) {
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  transform-origin: 4.2px 3px;
  transition: 0.5s;
}

.hamburger-menu li:nth-child(1) {
  top: 18px;
}
.hamburger-menu li:nth-child(3) {
  top: 30px;
}
.hamburger-menu li:nth-child(2) {
  top: 24px;
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

/* ======= HAMBURGER HOVER ======= */
.hamburger-menu:hover #first-line {
  transform: rotateZ(40deg);
}
.hamburger-menu:hover #second-line {
  visibility: hidden;
}
.hamburger-menu:hover #third-line {
  transform: rotateZ(-40deg);
}

.right-menu-option:hover #nav-mobile {
  visibility: visible;
}

.right-menu-option #nav-mobile {
  position: absolute;
  top: 10px;
  left: 60vw;
  right: 1vw;
  bottom: 490px;
  visibility: hidden;
}

.right-menu-option #nav-mobile a {
  display: block;
  padding: 10px;
  background-color: var(--black);
}
.right-menu-option #nav-mobile a:hover {
  transition: 0.3s;
  transition-timing-function: ease-out;
  border-bottom: 1px solid var(--blue);
  color: var(--blue);
}
.right-menu-option #nav-mobile #optionFR:hover {
  border-bottom: hidden;
}


/* ====================================== */
/* ======== NAV-PC TOPBAR BUTTON ======== */
/* ====================================== */
.right-menu-option #nav-pc a {
  display: inline-block;
  padding:  10px;
  position: relative;
  color: var(--white);
}
.right-menu-option #nav-pc a::before,
.right-menu-option #nav-pc a::after{
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.right-menu-option #nav-pc a::before{top: 0;left: 0;}
.right-menu-option #nav-pc a::after{bottom: 0;right: 0;}









.right-menu-option #nav-pc a:hover {
  color: var(--white);
  border: 0;
  background-color: #4ccaf0bb;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

@media screen and (min-width: 768px) {
  .hamburger-menu,
  #nav-mobile {
    display: none;
  }
  .top-bar {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 767.9px) {
  #nav-pc {
    display: none;
  }
  .top-bar {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
#top-bar-items {
  padding-top: 2vw;
  padding-bottom: 2vw;
}
/* ======================================== */
/* =========== TOPBAR OTHERPAGE =========== */
/* ======================================== */
.top-bar-otherPage {
  box-shadow: 0px 10px 10px rgba(68, 68, 67, 0.233);
}

/* =============================== */
/* ========== FRONT-SITE ========== */
/* =============================== */
#frontSite {
  padding: 0;
}
#frontSite img {
  width: 100%;
  top: 10vw;
}
/* =============================== */
/* ========== TITLE-SITE ========== */
/* =============================== */
#top {
  position: relative;
  min-width: 620px;
}
#title-site {
  position: absolute;
  top: 23vw;
  width: 100%;
  margin: 0 auto;
}
/* ==================================== */
/* ========== DECORATION-BOX ========== */
/* ==================================== */
#introduction h3 {
  position: relative;
}
#introduction h3 .decoration-box {
  position: absolute;
  bottom: 0px;
  width: 168px;
  height: 10px;
  background-color: var(--netflix);
  z-index: -1;
  border-radius: 30px;
}
