:root{
    --main:rgb(27, 27, 27);
    --black:rgb(0, 0, 0);
    --white:#fff;
    --grey:#999999;
    --orange:#FFE2B7;
    --blue: lightblue;
    --white-grey: rgb(245, 245, 245);
    --ikea-yellow:rgba(226, 172, 25, 0.459);
    --netflix:rgb(184, 12, 0);
    --spacing:1.5rem;
    /*Border-radius*/
    --border-radius: 25px;
     /*BOX SHADOW*/
    --box-shadow:.2rem .3rem .7rem;
    /*FONT FAMILY*/
    --font-family:'inherit',sans-serif;
}



