/* =============================== */
/* ========== CONTAINER ========== */
/* =============================== */
.container,
.container-fluid{ padding: var(--spacing) 
}
.container{   
    max-width: 1200px;
    margin: 0 auto;
}
.container-white{ 
    background-color: var(--white);
    color: var(--main);
 }
 .container-white-grey{ 
    background-color: var(--white-grey);
    color: var(--main);
 }
/* ========================== */
/* ========== GRID ========== */
/* ========================== */
.row{
    display: flex;
   /* grid-template-columns: repeat(12,1fr);*/
    flex-wrap: wrap;
    gap: var(--spacing);
    margin-left:  -(var(--spacing));
    margin-right: -(var(--spacing));
    max-width: none;
}
/* tous les enfants directes de row 
Pour les écrans moins de 600px */
/*.row>*
        width: 100%;}
{/*grid-column:span 12;*/
/* =============================== */
/* ===== POINT RUPTURE 600PX ===== */
/* =============================== */
/*@media screen and (min-width:600px){
.col-sm-1 { grid-column:span 1;  }
.col-sm-2 { grid-column:span 2;  }
.col-sm-3 { grid-column:span 3;  }
.col-sm-4 { grid-column:span 4;  }
.col-sm-5 { grid-column:span 5;  }
.col-sm-6 { grid-column:span 6;  }
.col-sm-7 { grid-column:span 7;  }
.col-sm-8 { grid-column:span 8;  }
.col-sm-9 { grid-column:span 9;  }
.col-sm-10{ grid-column:span 10; }
.col-sm-11{ grid-column:span 11; }
.col-sm-12{ grid-column:span 12; }
}*/
@media screen and (min-width:400px){
    .col-sm-1 { flex:0 0 8.33% ;  }
    .col-sm-2 { flex:0 0 16.67%;  }
    .col-sm-3 { flex:0 0 25%;     }
    .col-sm-4 { flex:0 0 33.33%;  }
    .col-sm-5 { flex:0 0 41.67%;  }
    .col-sm-6 { flex:0 0 50%;     }
    .col-sm-7 { flex:0 0 58.33%;  }
    .col-sm-8 { flex:0 0 66.67%;  }
    .col-sm-9 { flex:0 0 75%;     }
    .col-sm-10{ flex:0 0 83.33%;  }
    .col-sm-11{ flex:0 0 91.67%;  }
    .col-sm-12{ flex:0 0 100%;    }

    .my-sm-0{ margin-top: 0   !important;  margin-bottom: 0 !important; }
    .mt-sm-1{ margin-top: calc(var(--spacing) / 4) !important;}
    }
/* =============================== */
/* ===== POINT RUPTURE 900PX ===== */
/* =============================== */
/*@media screen and (min-width:900px){
.col-md-1 { grid-column:span 1;  }
.col-md-2 { grid-column:span 2;  }
.col-md-3 { grid-column:span 3;  }
.col-md-4 { grid-column:span 4;  }
.col-md-5 { grid-column:span 5;  }
.col-md-6 { grid-column:span 6;  }
.col-md-7 { grid-column:span 7;  }
.col-md-8 { grid-column:span 8;  }
.col-md-9 { grid-column:span 9;  }
.col-md-10{ grid-column:span 10; }
.col-md-11{ grid-column:span 11; }
.col-md-12{ grid-column:span 12; }
} */
@media screen and (min-width:768px){
    .col-md-1 { flex:0 0 8.33% ;  }
    .col-md-2 { flex:0 0 16.67%;  }
    .col-md-3 { flex:0 0 25%;     }
    .col-md-4 { flex:0 0 33.33%;  }
    .col-md-5 { flex:0 0 41.67%;  }
    .col-md-6 { flex:0 0 50%;     }
    .col-md-7 { flex:0 0 58.33%;  }
    .col-md-8 { flex:0 0 66.67%;  }
    .col-md-9 { flex:0 0 75%;     }
    .col-md-10{ flex:0 0 83.33%;  }
    .col-md-11{ flex:0 0 91.67%;  }
    .col-md-12{ flex:0 0 100%;    }


    .mt-md-3{ margin-top: calc(var(--spacing) / 1.5) !important; }

    }
/* =============================== */
/* ===== POINT RUPTURE 1200PX ===== */
/* =============================== */
/*@media screen and (min-width:1200px){
.col-lg-1 { grid-column:span 1;  }
.col-lg-2 { grid-column:span 2;  }
.col-lg-3 { grid-column:span 3;  }
.col-lg-4 { grid-column:span 4;  }
.col-lg-5 { grid-column:span 5;  }
.col-lg-6 { grid-column:span 6;  }
.col-lg-7 { grid-column:span 7;  }
.col-lg-8 { grid-column:span 8;  }
.col-lg-9 { grid-column:span 9;  }
.col-lg-10{ grid-column:span 10; }
.col-lg-11{ grid-column:span 11; }
.col-lg-12{ grid-column:span 12; }
}   */
@media screen and (min-width:992px){
    .col-lg-1 { flex:0 0 8.33% ;  }
    .col-lg-2 { flex:0 0 16.67%;  }
    .col-lg-3 { flex:0 0 25%;     }
    .col-lg-4 { flex:0 0 33.33%;  }
    .col-lg-5 { flex:0 0 41.67%;  }
    .col-lg-6 { flex:0 0 50%;     }
    .col-lg-7 { flex:0 0 58.33%;  }
    .col-lg-8 { flex:0 0 66.67%;  }
    .col-lg-9 { flex:0 0 75%;     }
    .col-lg-10{ flex:0 0 83.33%;  }
    .col-lg-11{ flex:0 0 91.67%;  }
    .col-lg-12{ flex:0 0 100%;    }

    .mt-lg-5{ margin-top: calc(var(--spacing) * 2) !important; }

    .order-lg-1{order: 1;}
    .order-lg-2{order: 2;}
    }

