.top-bar-otherPage{z-index: 2;}
#FQA-contenu{margin-top: 150px;}
#footer-otherPage{border-top: 1px solid rgba(128, 128, 128, 0.171);}
.FQA-items{
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 22px;
}
.FQA-items:hover{box-shadow: 5px 5px 10px var(--ikea-yellow)}



/* =========================================== */
/* =========== DECORATION BOX ICON =========== */
/* =========================================== */
@media screen and (min-width:768px){
    .decoIcon{
        visibility: visible;
    }
     
 }
 @media screen and (max-width:767.9px){
    .decoIcon{
        visibility: hidden;
    }
    .FQA-items{padding: 0 20px;}
 }
 .decoIcon{
    width: calc(2rem + 4vw);
    height: calc(2rem + 4vw);
    line-height: calc(2rem + 4vw);
    text-align: center;
    
    border-radius: 50%;
    position: relative;
    left: -6vw;
    top: 45px;
 }
 .decoIcon i{
     color: var(--white-grey);
    position: relative;
    top: 0.5vw;
}
