.box-infor{position: relative;}
.line-decoration-left,.line-decoration-right{
    position: absolute;
    bottom: -20px;
    width: 60vw;
    height: 2px;
    background-color: var(--white-grey);
}
.line-decoration-left{
    left: 50px;
}
.line-decoration-right{
    right: 50px;
}
@media screen and (max-width: 767.9px) {
    .line-decoration-left,
    .line-decoration-right{
        left: 50%;
        transform: translateX(-50%);
    }
}

/* =============================== */
/* ========== FRONT-SITE ========== */
/* =============================== */
#frontSite {
    padding: 0;
  }
  #frontSite img {
    width: 100%; 
    top: 10vw;
  }
  /* =============================== */
  /* ========== TITLE-SITE ========== */
  /* =============================== */
  #top {
    position: relative;
    min-width: 620px;
  }
  #title-site {
    position: absolute;
    top: 23vw;
    width: 100%;
    margin: 0 auto;
  }
  /* ==================================== */
  /* ========== DECORATION-BOX ========== */
  /* ==================================== */
  #introduction h3 {
    position: relative;
  }
  #introduction h3 .decoration-box {
    position: absolute;
    bottom: 0px;
    width: 168px;
    height: 10px;
    background-color: var(--netflix);
    z-index: -1;
    border-radius: 30px;
  }
  