.top-bar-otherPage{z-index: 2;}
#SupportClient-contenu{margin-top: 150px;}
#footer-otherPage{border-top: 1px solid rgba(128, 128, 128, 0.171);}

#nav-pc div{position: relative;}
#nav-pc a::before,#nav-pc a::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.4s,-webkit-transform 0.4s;
    transform: opacity 0.4s, transform 0.4s;
}
#nav-pc a::before{
    border-bottom: 2px solid red;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
#nav-pc div:hover #nav-pc a::before{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* =========================================== */
/* =========== DECORATION-LOGO =========== */
/* =========================================== */
@media screen and (min-width:768px){
    .decoration-logo{
        visibility: visible;
    }
     
 }
 @media screen and (max-width:767.9px){
    .decoration-logo{
        visibility: hidden;
    }
 }
 .decoration-logo i{font-size: 50px; color: rgb(120, 146, 219);}

 /* =========================================== */
/* =========== BUTTON: ME CONTACTEZ =========== */
/* =========================================== */
button#meContacte{
    border: 0;
    background-color: #5f55af;
    border-radius: 5px;
    padding: 10px 30px 10px 20px;
}
button#meContacte a,button#meContacte i{color: var(--white-grey);}
button#meContacte i{
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}
button:hover i {animation: fly 2s ease-in;}
  
@keyframes fly {
    0% {transform: translateX(0%);}
    50% {transform: translateX(140px);}
    100% {transform: translateX(0);}
}













