*{ box-sizing: border-box; }
body{ 
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
a {text-decoration: none;}



ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
i{font-size: 2rem;}
h1,h2,h3,h4,h5,h6{ font-weight: 800;}
h1 { font-size: 3rem; display: block;}
h2 { font-size: 1.6rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }