/* ============================================ */
/* ========== Vertical--- Horizontal ========== */
/* ============================================ */
/*Alignement de éléments 如何在辅轴上对齐*/
.align-start{align-items: flex-start;}
.align-end{align-items: flex-end;}
.align-center{align-items: center;}
.align-baseline{align-items: baseline;}
.align-full{align-items: stretch;}

/*Justify-content: partager les vides dans l'axe principale
如何在主轴上对齐*/
.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.justify-center{justify-content:center;}
.justify-around{justify-content:space-around;}
.justify-between{justify-content:space-between;}
.justify-evenly{justify-content:space-evenly;}

/* ============================ */
/* ========== MARGIN ========== */
/* ============================ */
/* ====== MARGIN ENTIER ====== */
.m-0{ margin: 0  !important; }
.m-1{ margin: calc(var(--spacing) / 4) !important; }
.m-2{ margin: calc(var(--spacing) / 2) !important; }
.m-3{ margin: calc(var(--spacing) / 1.5) !important; }
.m-4{ margin: var(--spacing) !important; }
.m-5{ margin: calc(var(--spacing) * 2) !important; }
/* ====== MARGIN HORIZONTAL======"CENTER"====== */
.mx-0{ margin-left: 0   !important;  margin-right: 0 !important; }
.mx-1{ margin-left: calc(var(--spacing) / 4)   !important;  margin-right: calc(var(--spacing) / 4) !important; }
.mx-2{ margin-left: calc(var(--spacing) / 2)   !important;  margin-right: calc(var(--spacing) / 2) !important; }
.mx-3{ margin-left: calc(var(--spacing) / 1.5) !important;  margin-right: calc(var(--spacing) / 1.5) !important; }
.mx-4{ margin-left: var(--spacing)             !important;  margin-right: var(--spacing) !important; }
.mx-5{ margin-left: calc(var(--spacing) * 2)   !important;  margin-right: calc(var(--spacing) * 2) !important;}
/* ====== MARGIN VERTICAL======"MIDDLE"====== */
.my-0{ margin-top: 0   !important;  margin-bottom: 0 !important; }
.my-1{ margin-top: calc(var(--spacing) / 4)   !important;  margin-bottom: calc(var(--spacing) / 4) !important; }
.my-2{ margin-top: calc(var(--spacing) / 2)   !important;  margin-bottom: calc(var(--spacing) / 2) !important; }
.my-3{ margin-top: calc(var(--spacing) / 1.5) !important;  margin-bottom: calc(var(--spacing) / 1.5) !important; }
.my-4{ margin-top: var(--spacing)             !important;  margin-bottom: var(--spacing) !important; }
.my-5{ margin-top: calc(var(--spacing) * 2)   !important;  margin-bottom: calc(var(--spacing) * 2) !important;}
/* ====== MARGIN TOP ====== */
.mt-1{ margin-top: calc(var(--spacing) / 4) !important; }
.mt-2{ margin-top: calc(var(--spacing) / 2) !important; }
.mt-3{ margin-top: calc(var(--spacing) / 1.5) !important; }
.mt-4{ margin-top: var(--spacing) !important; }
.mt-5{ margin-top: calc(var(--spacing) * 2) !important; }
/* ====== MARGIN BOTTOM ====== */
.mb-0{ margin-bottom: 0 !important; }
.mb-1{ margin-bottom: calc(var(--spacing) / 4) !important; }
.mb-2{ margin-bottom: calc(var(--spacing) / 2) !important; }
.mb-3{ margin-bottom: calc(var(--spacing) / 1.5) !important; }
.mb-4{ margin-bottom: var(--spacing) !important; }
.mb-5{ margin-bottom: calc(var(--spacing) * 2) !important; }
/* ====== MARGIN LEFT ====== */
.ml-1{ margin-left: calc(var(--spacing) / 4) !important; }
.ml-2{ margin-left: calc(var(--spacing) / 2) !important; }
.ml-3{ margin-left: calc(var(--spacing) / 1.5) !important; }
.ml-4{ margin-left: var(--spacing) !important; }
.ml-5{ margin-left: calc(var(--spacing) * 2) !important; }
/* ====== MARGIN RIGHT ====== */
.mr-1{ margin-right: calc(var(--spacing) / 4) !important; }
.mr-2{ margin-right: calc(var(--spacing) / 2) !important; }
.mr-3{ margin-right: calc(var(--spacing) / 1.5) !important; }
.mr-4{ margin-right: var(--spacing) !important; }
.mr-5{ margin-right: calc(var(--spacing) * 2) !important; }


/* ============================ */
/* ========== PADDING ========== */
/* ============================ */
/* ====== PADDING ENTIER ====== */
.p-0{ padding: 0 !important; }
.p-1{ padding: calc(var(--spacing) / 4) !important; }
.p-2{ padding: calc(var(--spacing) / 2) !important; }
.p-3{ padding: calc(var(--spacing) / 1.5) !important; }
.p-4{ padding: var(--spacing) !important; }
.p-5{ padding: calc(var(--spacing) * 2) !important; }
/* ====== PADDING HORIZONTAL====== */
.px-0{ padding-left: 0   !important;  padding-right: 0 !important; }
.px-1{ padding-left: calc(var(--spacing) / 4)   !important;  padding-right: calc(var(--spacing) / 4) !important; }
.px-2{ padding-left: calc(var(--spacing) / 2)   !important;  padding-right: calc(var(--spacing) / 2) !important; }
.px-3{ padding-left: calc(var(--spacing) / 1.5) !important;  padding-right: calc(var(--spacing) / 1.5) !important; }
.px-4{ padding-left: var(--spacing)             !important;  padding-right: var(--spacing) !important; }
.px-5{ padding-left: calc(var(--spacing) * 2)   !important;  padding-right: calc(var(--spacing) * 2) !important;}
/* ====== PADDING VERTICAL======  */
.py-0{ padding-top: 0   !important;  padding-bottom: 0 !important; }
.py-1{ padding-top: calc(var(--spacing) / 4)   !important;  padding-bottom: calc(var(--spacing) / 4) !important; }
.py-2{ padding-top: calc(var(--spacing) / 2)   !important;  padding-bottom: calc(var(--spacing) / 2) !important; }
.py-3{ padding-top: calc(var(--spacing) / 1.5) !important;  padding-bottom: calc(var(--spacing) / 1.5) !important; }
.py-4{ padding-top: var(--spacing)             !important;  padding-bottom: var(--spacing) !important; }
.py-5{ padding-top: calc(var(--spacing) * 2)   !important;  padding-bottom: calc(var(--spacing) * 2) !important;}
/* ====== PADDING TOP ====== */
.pt-1{ padding-top: calc(var(--spacing) / 4) !important; }
.pt-2{ padding-top: calc(var(--spacing) / 2) !important; }
.pt-3{ padding-top: calc(var(--spacing) / 1.5) !important; }
.pt-4{ padding-top: var(--spacing) !important; }
.pt-5{ padding-top: calc(var(--spacing) * 2) !important; }
/* ====== PADDING BOTTOM ====== */
.pb-0{ padding-bottom: 0 !important; }
.pb-1{ padding-bottom: calc(var(--spacing) / 4) !important; }
.pb-2{ padding-bottom: calc(var(--spacing) / 2) !important; }
.pb-3{ padding-bottom: calc(var(--spacing) / 1.5) !important; }
.pb-4{ padding-bottom: var(--spacing) !important; }
.pb-5{ padding-bottom: calc(var(--spacing) * 2) !important; }
/* ====== PADDING LEFT ====== */
.pl-1{ padding-left: calc(var(--spacing) / 4) !important; }
.pl-2{ padding-left: calc(var(--spacing) / 2) !important; }
.pl-3{ padding-left: calc(var(--spacing) / 1.5) !important; }
.pl-4{ padding-left: var(--spacing) !important; }
.pl-5{ padding-left: calc(var(--spacing) * 2) !important; }
/* ====== PADDING RIGHT ====== */
.pr-1{ padding-right: calc(var(--spacing) / 4) !important; }
.pr-2{ padding-right: calc(var(--spacing) / 2) !important; }
.pr-3{ padding-right: calc(var(--spacing) / 1.5) !important; }
.pr-4{ padding-right: var(--spacing) !important; }
.pr-5{ padding-right: calc(var(--spacing) * 2) !important; }

/* ============================= */
/* ========== DISPLAY ========== */
/* ============================= */
/*.d-not{display: none;}*/
.d-block{display: block;}
.d-inline-block{display: inline-block;}
.d-grid{display: grid;}
/* ========== DISPLAY FLEX ========== */
.d-flex{display: flex; gap: var(--spacing);}
/* ============================= */
/* ========== GAP ========== */
/* ============================= */
.gap-0 {gap: 0 !important; }
.gap-petit {gap: calc(var(--spacing) / 2) !important;}
.gap-moyen {gap: var(--spacing) !important; }
.gap-grand {gap: calc(var(--spacing) * 2) !important; }
/*INITIAL ::: spacing:1.5rem*/
/* ======== ORDRE DE FLEX ====排列方式==== */
.flex-row { flex-direction: row; }/*====== 横向排列 ======*/
.flex-column { flex-direction: column; }/*====== 纵向排列 ======*/
/* ========== WRAP =====是否换行===== */
.wrap{flex-wrap: wrap;}
.notwrap{flex-wrap: nowrap;}
.wrap-reverse{flex-wrap: wrap-reverse;}


/* ============================= */
/* ========== FLOAT========== */
/* ============================= */
.float-left{float: left;}
.float-right{float: right;}

/* ============================= */
/* ========== OVERFLOW========== */
/* ============================= */
/*
.overflow-hidden{overflow: hidden;}
.overflow-scroll{overflow: scroll;}
.overflow-auto-scroll{overflow: auto;}*/

/* ========================== */
/* ========== TEXT ========== */
/* ========POSITIONNEMENT DU TEXTE========== */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

/* ========== TEXT-COLOR ========== */
.text-main{color:var(--main);}
.text-white{color:var(--white);}
.text-black{color:var(--black);}
.text-grey{color:var(--grey);}
.text-orange{color:var(--orange);}

/* ========== TEXT-STYLE ========== */
.text-bold{font-weight: bold;}/*加粗*/
.text-icon {font-size: 1rem; line-height: 1rem;}
.text-petit{font-size: 1rem; line-height: 1rem;}
.text-moyen{font-size: 1.5rem; line-height: 1.6rem;}
.text-grand{font-size: 2rem; line-height: 2rem;}

/* ================================= */
/* ========== BACKGROUND ========== */
/* ================================= */
.bg-main{
    background-color: var(--main);
    color: var(--white);
}
.bg-black{
    background-color: var(--black);
    color: var(--white);
}
.bg-white{
    background-color: var(--white);
    color: var(--black);
}
.bg-orange{
    background-color: var(--orange);
    color: var(--black);
}
.bg-grey{background-color: rgb(238, 237, 237);}
/* =========================== */
/* ======= IMAGE STYLE ======= */
/* =========================== */
.img-plein{width: 100%;}

/* =========================== */
/* ======= BUTTON STYLE ======= */
/* =========================== */
.button{
    display: inline-block;
    border-radius: var(--border-radius);
    width: 200px;/*120*/
    height: 45px;
    align-items: center;
}
.button-petit { font-size: .8rem; padding: .75rem .5rem;}
.button-normal{ font-size: 1rem;  padding: .75rem 1.5rem;}
.button-grand { font-size: 1.2rem;padding: .75rem 5rem;}

.button-orange{border-radius: var(--border-radius); background-color: var(--orange);}
.button-light{ border-radius: var(--border-radius); background-color: var(--white);}
.button-dark{ border-radius: var(--border-radius); background-color:  var(--black);}
